@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* util */

.bd {
    border: 1px solid red;
}

/* util */

:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-white: #ffffff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warning: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-varient: #111e88;
    --clr-dark-varient: #677483;
    --clr-color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);

    --mode:white;
    --mode-inverted: rgba(37, 40, 44, 0.974);
    --theme-primary:  #606ef4;
    --theme-gray: #b8b8c99b;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}


a {
    color: var(--clr-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.text-muted {
    color: var(--clr-info-dark);
}

p {
    color: var(--clr-dark-varient);
}
.cp{
    cursor: pointer;
}

b {
    color: var(--clr-dark);
}

.primary {
    color: var(--clr-primary);
}

.success {
    color: var(--clr-success);
}

.danger {
    color: var(--clr-danger);
}

.warning {
    color: var(--clr-warning);
}

img {
    width: 100%; /* Ensure image takes full width of its container */
    height: auto; /* Maintain aspect ratio */
}


.home-container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
    flex: 1; /* Ensures the container grows to fill available space */
    position: relative; /* To position footer correctly */
    min-height: calc(100vh - 60px); /* Adjust height to allow space for the footer */
}


